// app global css in Sass form
.q-tooltip
  padding: 8px 16px
  font-size: 0.75rem
  font-weight: 400
  white-space: nowrap
  letter-spacing: 0.03333em
  line-height: 1.25rem
  background: $dark
  color: white
  border-radius: 0
