// app global css in Sass form
.q-dialog__backdrop
  background: rgba(96, 96, 96, 0.7)

.q-btn,
.q-badge,
.q-chip,
.q-tooltip,
.q-dialog__inner > .q-dialog-plugin
  border-radius: 0

.q-tooltip
  padding: 8px 16px
  font-size: 0.75rem
  font-weight: 400
  white-space: nowrap
  letter-spacing: 0.03333em
  line-height: 1.25rem
  color: white
  background: $dark

.q-badge
  &--home,
  &--host
    font-size: 1rem
    font-weight: 400
    line-height: 1.75rem
    letter-spacing: 0.00937em
    padding-top: 0
    padding-bottom: 0

  &--history
    font-size: 0.875rem
    font-weight: 500
    line-height: 1.375rem
    letter-spacing: 0.00714em
    padding-top: 0
    padding-bottom: 0

.q-chip
  &--history-status
    color: $dark
    border-color: rgba(0, 0, 0, 0.12)
    margin: 0

.column > .q-field.col
  .q-field__inner
    display: flex
    flex-wrap: nowrap
    flex-direction: column

  .q-field__control
    padding-right: 1px
    flex: 10000 1 0%

  .q-field__native
    overflow: auto
    max-height: 100%
